:root {
    --accent: #FF3B30;
    --main: #fdfdfdeb;
    --secondary: #F2F2F7;
    --third: #fdfdfdeb;
    --border: #B6B6B6;
    
  }

  @media (prefers-color-scheme: dark) {
    :root {
        --accent: #FF3B30;
        --main: #000000;
        --secondary: #1C1C1E;
        --third:#262626c7;
        --border: #323232;
        
      }
  }

body {
    -webkit-tap-highlight-color: transparent;
    margin:0;
    background-color: var(--secondary);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

.active {
  background-color: #4CAF50;
}

.tab-bar
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--third);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10.22%;
    display: flex;   
    border-top: 2px solid var(--border); 
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
}
.tab
{
    width: 25%;
    height: 59.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab div
{
    height: 65.31%;
    font-size: 375%;
    font-family: SF-Pro;
    color: var(--accent);
    top: 15px;
    position: absolute;
}

.tab p
{
    
    position: absolute;
    bottom: 3vh;
    font-size: 3vw;
    font-family: 'SF-Pro';
    font-weight: bold;
    color: var(--accent);
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    background-color: #2196F3;
    justify-content: center;
    align-items: center;
}

img
{
    width: 100%;
    z-index: -1;
}