:root {
    --accent: #FF3B30;
    --main: #fdfdfdeb;
    --secondary: #F2F2F7;
    --third: #fdfdfdeb;
    --border: #B6B6B6;
    --disabled: #999999;
}

  @media (prefers-color-scheme: dark) {
    :root {
        --accent: #FF3B30;
        --main: #000000;
        --secondary: #1C1C1E;
        --third:#262626c7;
        --border: #323232;
        --disabled: #757575;
        
      }
  }

body 
{
    -webkit-tap-highlight-color: transparent;
    margin:0;
    background-color: var(--secondary);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tab-bar
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--third);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10.22%;
    display: flex;   
    border-top: 2px solid var(--border); 
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
}
.tab
{
    display: grid;
    grid-template-columns: auto;
    width: 25%;
    height: 59.4%;

}

.tab div
{
    font-size: 5.8vw;
    font-family: SF-Pro;
    color: var(--disabled);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.tab p
{
    margin: 0px;
    font-size: 2.6vw;
    font-family: 'SF-Pro';
    font-weight: bold;
    color: var(--disabled);
    display: flex;
  justify-content: center;
  align-items: center;
}

.active div, .active p
{
    color: var(--accent) !important;
}



img
{
    width: -webkit-fill-available;
    z-index: -1;
}