#date
{
	font-size: 20px;
    font-weight: 700;
    color: rgb(255 255 255 / 70%);
}

#clock
{
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.today-tile
{
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
	
.today-tile > div
{
    padding-left: 10%;
	padding-bottom: 10%;
}